/* Your CSS here. */
body {
  background-color: white;
  font-family: Arial, sans-serif;
}

.card {
  width: 700px;
  margin: 40px auto;
  padding: 16px;
  background-color: #666666;
  color: white;
}

.card img {
  display: block;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  object-fit: cover;
}

.card h1 {
  text-align: center;
}

.email {
  text-align: center;
  font-style: italic;
}

.card a {
  display: block;
  text-align: center;
  margin-bottom: 25px;
}

.card p {
  line-height: 1.3;
}